/* File: app/components/NewsSection.module.css */
.section {
  padding: 5rem 0;
  background-color: var(--background-light);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.title {
  color: var(--kredirel-dark-blue);
  font-size: 60px;
  font-weight: 700;
}

.viewAllBtn {
  background-color: var(--kredirel-light-blue);
  color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  height: 52px;
  width: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewAllBtn:hover {
  background-color: #0288d1;
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.newsCard {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.newsCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  height: 220px;
  overflow: hidden;
}

.newsImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.newsCard:hover .newsImage {
  transform: scale(1.05);
}

.newsContent {
  padding: 1.5rem;
  position: relative;
}

.newsDate {
  font-size: 0.8rem;
  color: var(--secondary-color);
  margin-bottom: 0.8rem;
}

.newsTitle {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 2.5rem;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4.2em;
}

.readMoreBtn {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
}

.readMoreBtn span {
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 0.3rem 0.8rem;
}

@media (max-width: 992px) {
  .newsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .newsGrid {
    grid-template-columns: 1fr;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
